.container {
    display: flex;
    flex-direction: column;
}

.heading {
    margin-top: 10vh;
    text-align: center;
    color: hsl(var(--foreground));
    font-size: 140px;
    font-weight: 700;
}

.text {
    text-align: center;
    color: hsl(var(--foreground));
    font-size: 36px;
    font-weight: 700;
    margin-top: 5vh;
}

.return-button {
    margin-top: 5vh;
    border: none;
    border: 5px solid #3380B3;
    padding: 1vh 3vw;
    margin-left: 40%;
    margin-right: 40%;
}

.button-text {
    text-decoration: none;
    color: #3380B3;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}