.page-heading {
    font-weight: 700;
    font-size: 36px;
    color: hsl(var(--foreground));
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.page-description {
    font-weight: 400;
    font-size: 17px;
    color: hsl(var(--foreground));
    margin-bottom: 3vh;
    text-align: center;
}

.double-section {
    margin-left: clamp(4vw, 9vw, 10.55vw);
    margin-right: clamp(4vw, 9vw, 10.55vw);
    display: grid;
    gap: 1vh 2vw;
    grid-template-columns: 0.7fr 0.3fr;
}

.double-section-right, .double-section-left {
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 93, 0.1);
    background: hsl(var(--secondary));
    margin-bottom: 3vh;
}

.left-container {
    margin: 5vh 5vw 5vh 3vw;
}

.page-link, .page-link-span {
    display: flex;
    align-items: center;
}

.page-link {
    margin-bottom: 1vh;
}

.page-link-span {
    color: hsl(var(--foreground));
    font-weight: 400;
    font-size: 17px;
    border-bottom: 1px dashed #A1AABB;
}

.page-link-image {
    margin-left: 0.5vw;
    max-width: 0.5vw;
}

.section-heading {
    color: hsl(var(--foreground));
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 3vh;
    text-align: center;
}

.links-paragraph {
    margin-left: 3vw;
}

.links-heading{
    font-weight: 400;
    color: hsl(var(--accent));
    font-size: 20px;
    margin-bottom: 1vh;
}

.right-container {
    margin: 5vh 3vw 5vh 3vw;
}

.right-link-heading {
    font-weight: 400;
    color: hsl(var(--accent));
    font-size: 24px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.main-section {
    margin-left: clamp(4vw, 9vw, 10.55vw);
    margin-right: clamp(4vw, 9vw, 10.55vw);
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 93, 0.1);
    background: hsl(var(--secondary));
    margin-bottom: 3vh;
}

.main-container {
    padding: 5vh 3vw 5vh 3vw;
}

.paragraph-heading {
    font-weight: 600;
    color: #16689F;
    font-size: 24px;
    margin-bottom: 2vh;
}

.paragraph-text {
    font-weight: 400;
    color: hsl(var(--foreground));
    font-size: 17px;
    margin-bottom: 3vh;
}

.more-link {
    display: flex;
    font-weight: 400;
    font-size: 17px;
    color: hsl(var(--foreground));
    align-items: center;
}

.more-link > span {
    margin-right: 1vw;
}