.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 4vw;
}

.icon {
  width: 9vw;
  /* height: 4vh; */
  margin-right: 3px;
}

.selectedLanguage {
  display: none;
}

.arrow {
  width: 2vw;
  transition: transform 0.3s;
}

.arrow .open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fcfcfc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.option {
  padding: 1vh 2vw;
  color: rgb(117, 115, 115);
  font-size: clamp(10px, 4vw, 34px);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
